<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FaceRecognition</display-name>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.faceRecognition.ServletUtil.EncodingFilterServlet</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.Upload_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOwnDataServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.GetOwnData_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOwnDataServlet</servlet-name>
    <url-pattern>/getowndata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOwnStateServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.UpdateOwnState_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOwnStateServlet</servlet-name>
    <url-pattern>/updateOwnState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeginSignedServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.BeginSigned_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginSignedServlet</servlet-name>
    <url-pattern>/beginSigned</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherDealDataServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.TeacherDealData_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDealDataServlet</servlet-name>
    <url-pattern>/teacherdealdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDealDataServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.AdminDealData_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDealDataServlet</servlet-name>
    <url-pattern>/admindealdata</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpdatePassServlet</servlet-name>
    <servlet-class>com.faceRecognition.ServletUtil.UpdatePass_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassServlet</servlet-name>
    <url-pattern>/editpass</url-pattern>
  </servlet-mapping>
</web-app>